[Unit]
Description=Update Reactor frontend and backend

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash /home/mrcpi01/Reactor/update/update_backend.sh
ExecStart=/usr/bin/env bash /home/mrcpi01/Reactor/update/update_frontend.sh